<div class="search-form">
  <%= form_tag tweets_path, method: :get do %>
    <%= text_field_tag :handle, params[:handle], required: true, name: 'handle', placeholder: 'Type a handle' %>
    <%= button_tag 'Find', class: "btn btn-success" %>
  <% end %>
</div>
