<% flash.each do |key, value| %>
  <div class="alert alert-<%= key == "notice" ? "success" : "danger" %>">
    <a class="close" data-dismiss="alert">x</a>
    <%= content_tag :div, value, :id => "flash_#{key}" %>
  </div>
<% end %>
